<mat-card>

    <mat-toolbar color="primary">Sign in</mat-toolbar>    

    <mat-card-content>
        <form [formGroup]="form">
            <mat-form-field class="min-width">
                <mat-label>Login </mat-label>
                <input matInput formControlName="login">
            </mat-form-field>
            <br>
            <mat-form-field class="min-width">
                <mat-label>Password </mat-label>
                <input matInput type="password" formControlName="password"/>
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions class="actions-center">
        <button mat-raised-button color="primary" (click)="onSubmit()">Sign in</button>
    </mat-card-actions>
</mat-card>  