<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width-device-width" />
	<title>Tela Geral de Usuarios e Carros</title>
	
	<link th:ref="@{/webjars/bootstrap/css/bootstrap.min.css}"
		rel="stylesheet" />
	<link th:ref="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"
		rel="stylesheet"/>
</head>
<body>
	<div class="panel panel-default" style="margin: 10px">
		<div class="panel-heading">
			<h1 class="panel-title">Tela Geral de Carros e Usuarios</h1>
		</div>
		
	</div>
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
